* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  width: 100%;
  position: fixed;
  background: #111;
  padding: 15px 20px;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.menu-btn {
  display: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 100vh;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #00c3ff;
}

.btn {
  padding: 10px 22px;
  background: #00c3ff;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

/* About */
.about, .projects, .contact {
  padding: 80px 20px;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #f2f2f2;
  padding: 40px;
  border-radius: 10px;
}

/* Contact form */
form input, form  {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
}
#message{
    width: 300px;
    margin: 10px 0;
    padding: 10px;
}

/* Scroll Top */
#scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #111;
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
    padding: 20px;
  }

  .menu-btn {
    display: block;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}
